.container{
    width: 25%;
    background-color: rgb(160, 227, 240);
    border-radius:2rem;
    padding: 1rem;
    font-family: "Montserrat", serif;
}
.container span{
    margin-bottom: 2rem;
}
.container{
    font-size: 1rem;
}
.finalGraph{
    width: 100%;
}
.lastGraph{
    width: 10%;
}