.lander {
  background-color: #caf0f8;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lander h1{
    font-size: 3rem;
    color: #023e8a;
    margin-top: 3rem;
}
.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

@media (max-width: 768px) {
  .lander {
    height: 70vh;
  }
  .lander h1{
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .lander {
    height: 75vh;
  }
  .lander h1{
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}
