.navbar {
  background-color: #023e8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  font-family: "Inter", sans-serif;
}

.navbarList {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #caf0f8;
}

.navbar h1 {
  color: #00b4d8;
}
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar h1 {
    font-size: 1.5rem;
  }
  .navbarList {
    font-size: 1rem;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .hamburger {
    display: block;
    background-color: #023e8a;
    padding: 0.5rem;
    cursor: pointer; /* Add a pointer cursor for better UX */
  }

  .hamburger_bar {
    color: white;
    width: 2rem;
  }

  .navbar {
    width: 30vw;
    flex-direction: column;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
    justify-content: flex-start;
    gap: 5rem;
    padding: 1rem;
    padding-top: 2rem;
    display: flex; /* Ensure flex behavior */
    position: fixed; /* Fix position for a sidebar */
    top: 0;
    left: 0;
    transform: translateX(-100%); /* Initially hidden */
    transition: transform 0.3s ease-in-out; /* Smooth slide */
  }

  .navbar.active {
    transform: translateX(0%); /* Slide in */
  }

  .navbar h1 {
    text-align: center;
  }

  .navbarList {
    display: flex; /* Apply flex behavior */
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 1rem;
    gap: 2rem;
  }
}
